<ul class="nav nav-tabs" role="tablist">
  <% tabs.each do |name, args| %>
    <% css_class = name == active ? 'nav-link active' : 'nav-link' %>
    <li class="nav-item"><%= link_to t(args[0]), args[1], class: css_class %></li>
  <% end %>
</ul>
