<% content_for :frame do %>
  <div class="container-fluid">
    <div class="boxes">
      <h3 class="titles">History</h3>
      <div class="container-fluid history-pages histable">
        <%= render 'tabs', active: :account %>

        <div class="card card-default" id="transactions">
          <div class="card-body">
            <div class="col-24">
              <table class="table ">
                <thead>
                  <tr>
                    <th><%= t('.type') %></th>
                    <th><%= t('.timestamp') %></th>
                    <th><%= t('.currency') %></th>
                    <th><%= t('.amount') %></th>
                    <th><%= t('.fee') %></th>
                    <th><%= t('.txid') %></th>
                  </tr>
                </thead>
                <tbody class="list">
                  <%= render partial: 'transaction', collection: @transactions %>
                </tbody>
              </table>
              <div class="pull-right">
                <%= paginate @transactions %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
<% end %>
