<% content_for :frame do %>
  <div class="container-fluid">
    <div class="boxes">
      <h3 class="titles">History</h3>
      <div class="container-fluid history-pages histable">
        <%= render 'tabs', active: :order %>

        <div class="card card-default" id="orders">
          <div class="card-body">
            <div class="col-24">
              <table class="table">
                <thead>
                  <tr>
                    <th><%= t('.id') %></th>
                    <th><%= t('.type') %></th>
                    <th><%= t('.state') %></th>
                    <th><%= t('.market') %></th>
                    <th><%= t('.price') %></th>
                    <th><%= t('.volume') %></th>
                    <th><%= t('.average_price') %></th>
                    <th><%= t('.fulfilled_volume') %></th>
                    <th><%= t('.timestamp') %></th>
                  </tr>
                </thead>
                <tbody class="list">
                  <%= render partial: 'order', collection: @orders %>
                </tbody>
              </table>
              <div class="pull-right">
                <%= paginate @orders %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
<% end %>
