<% content_for :frame do %>
  <div class="container-fluid">
    <div class="boxes">
      <h3 class="titles">History</h3>
      <div class="container-fluid history-pages histable">
        <%= render 'tabs', active: :trade %>

        <div class="card card-default" id="trades">
          <div class="card-body">
            <div class="col-24">
              <table class="table">
                <thead>
                  <tr>
                    <th><%= t('.side') %></th>
                    <th><%= t('.created_at') %></th>
                    <th><%= t('.display_currency') %></th>
                    <th><%= t('.base_amount') %></th>
                    <th><%= t('.quote_currency') %></th>
                    <th><%= t('.quote_amount') %></th>
                    <th><%= t('.price') %></th>
                  </tr>
                </thead>
                <tbody class="list">
                  <%= render partial: 'trade', collection: @trades %>
                </tbody>
              </table>
              <div class="pull-right">
                <%= paginate @trades %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
<% end %>
