/* basic style extend
------------------------------------------------------- */
g { color: #A9A9A9; }

* + i[class^=fa], i[class^=fa] + * { margin-left: $icon-gutter-width; }

span.label { padding-top: $text-gutter-width; }
span.caret, b.caret { margin-left: $icon-gutter-width; }
strong + span, span.label + span.label { margin-left: $text-gutter-width; }
abbr { border-bottom: 0px !important; }

//@include text-emphasis-variant('.text-up', $up-text);
//@include text-emphasis-variant('.text-down', $down-text);
//.btn-up { @include button-variant($btn-default-color, $up-bg, $input-border-color); }
//.btn-down { @include button-variant($btn-default-color, $down-bg, $input-border-color); }

table.table { td.vertical-center { vertical-align: middle !important; } }


/* TODO UNKNDOW CLASS
------------------------------------------------------ */
.number { font-family: monospace; }
.number-label { color: #A9A9A9; margin-right: 5px; }
span.hint { margin-top: 6px; }
.text-ignore { color: #A9A9A9; }

