<div class="container-fluid ">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <footer class="footer">
        <p>&copy; 2017 Caishen - All Rights Reserved.</p>
        <ul>
          <li><a href="javascript:;">What is Caishen?</a></li>
          <li><%= link_to "Privacy policy" ,welcome_privacy_policy_path%></li>
          <li><a href="javascript:;">Terms of Use</a></li>
          <li><a href="javascript:;">Fees</a></li>
        </ul>
      </footer>
    </div>
  </div>
</div>