<div class="container-fluid">
  <div id="content" class="col-8">
    <%= render 'shared/flash' %>
    <%= yield %>
  </div>
  <% if content_for?(:before) %>
    <%= yield(:before) %>
  <% end %>
  <div class="card card-default">
    <div class="card-header">
      <h2 class="card-title"><%= guide_panel_title %></h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div id="guide" class="col-4">
          <% if content_for?(:guide_title) %>
            <%= yield(:guide_title) %>
          <% else %>
            <h3><%= guide_title %></h3>
          <% end %>
          <p class="text-ignore"><%= guide_intro %></p>
          <% if content_for?(:guide) %>
            <%= yield(:guide) %>
          <% end %>
        </div>
      </div>
      <% if content_for?(:secondary) %>
        <%= yield(:secondary) %>
      <% end %>
    </div>
  </div>
  <% if content_for?(:after) %>
    <%= yield(:after) %>
  <% end %>
</div>
