<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <img src="../assets/logo.png" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= top_nav_link(t('header.market'), trading_path(current_market.id), 'exchange', target: '_blank') if current_user %></li>
        <li><%= top_nav_link(t('header.funds'), funds_path, 'money', controllers: ['funds']) if current_user %></li>
        <li><%= top_nav_link(t('header.assets'), exchange_assets_path, 'bar-chart-o') if current_user %></li>
        <li><%= top_nav_link(t('header.history'), order_history_path, 'book', controllers: ['history']) if current_user %></li>
        <% if current_user %>
          <li><a href="<%= main_app.signout_path %>"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
        <% end %>  
        
        <% unless current_user %>
          <li><a class="btn btn-primary" href="http://auth.caishen.exchange/accounts/sign_up" role="button">Get Started</a></li>
          <% provider = ENV['OAUTH2_SIGN_IN_PROVIDER'] %>
          <% unless provider.blank? %>
            <a class="btn btn-default" href="/auth/<%= provider == 'google' ? 'google_oauth2' : provider %>">
              <small>Login</small>
            </a>
          <% end %>
        <% end %>  
      </ul>
    </div>
  </div>
</nav>
