<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="/assets/logo1.png" alt="LOGO">
        </a>
    </div>
    <div class="toptitle">
      <h3><%= controller.controller_name.capitalize %></h3>
    </div>
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a id="user-profile" href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/assets/admin.png" class="img-responsive img-thumbnail img-circle"><%= current_user.email %><b class="fa fa-angle-down"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                <li><a href="#"><i class="fa fa-fw fa-cog"></i> Password</a></li>
                <li class="divider"></li>
                <li><a href="<%= main_app.signout_path %>"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
            </ul>
        </li>
        <li class="alertbell"><a href="#"><i class="fa fa-bell-o"></i> <sup>2</sup></a></li>
    </ul>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="sidelogo">
              <a href="<%= root_path %>"> <img src="/assets/logo.png" alt="LOGO"></a>
            </li>
            <li>
                <a href="<%= settings_path %>"><i class="fa fa-fw fa-cog"></i>  My Account</a>
            </li>
            <li>
                <a href="<%= trading_path(current_market.id) %>"><i class="fa fa-fw fa-question-circle"></i> Exchange</a>
            </li>
            <li>
                <a href="<%= funds_path %>"><i class="fa fa-fw fa-money"></i> Funds</a>
            </li>
            <li>
              <a href="<%= exchange_assets_path %>"><i class="fa fa-fw fa fa-bar-chart"></i> Solvency</a>
            </li>
            <li>
              <a href="<%= order_history_path %>"><i class="fa fa-fw fa-file-o"></i> History</a>
            </li>
            <li>
                <a href="javascript:;"><i class="fa fa-fw fa-question-circle"></i> About Chaisen</a>
            </li>
        </ul>
    </div>
</nav>