<div class="topbanner">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 text-center">
              <h2>Bitcoin Exchange</h2>
                <h1>You can Trust</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <a class="btn btn-primary" href="javascript:;" role="button">View more</a>
                <a class="btn btn-default" href="javascript:;" role="button">Try it</a>
            </div>
        </div>
    </div>
</div>    

<div class="pricechart">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <ul>
                <li>
                  <div class="btcwdgt-price live-currency-data"  bw-cur="usd"></div>
                </li>
                <li>
                  <div class="btcwdgt-price live-currency-data"  bw-cur="cad"></div>
                </li>
                <li>
                  <div class="btcwdgt-price live-currency-data"  bw-cur="nzd"></div>
                </li>
                <li>
                  <div class="btcwdgt-price live-currency-data"  bw-cur="eur"></div>
                </li>
                <li>
                  <div class="btcwdgt-price live-currency-data"  bw-cur="jpy"></div>
                </li>
                <li>
                  <div class="btcwdgt-price live-currency-data"  bw-cur="gbp"></div>
                </li>
                <li>
                  <div class="btcwdgt-price live-currency-data"  bw-cur="inr"></div>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>  

<div class="abou">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <ul>
                  <li>
                      <div>
                          <img src="assets/icon1.jpg" />
                            <h4>Realtime data</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                        </div>
                    </li>
                    <li>
                      <div>
                          <img src="assets/icon2.jpg" />
                            <h4>No Hidden Fees</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                        </div>
                    </li>
                    <li>
                      <div>
                          <img src="assets/icon3.jpg" />
                            <h4>Instant trading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                        </div>
                    </li>
                    <li>
                      <div>
                          <img src="assets/icon4.jpg" />
                            <h4>Secure & Trusted</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="invoice">
  <div class="container">
      <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
                <img src="assets/bit.jpg" class="img-responsive" />
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="invoicedata">
                    <h1>Bitcoin is an innovative & a new kind of money.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                    <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                    <a class="btn btn-primary" href="javascript:;" role="button">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="calculator">
  <div class="container">
      <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="calcleft">
                    <h1>Currency Calculator </h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="calcright">
                    <form>
                      <div class="form-group">
                          <input type="text" class="form-control" id="coin_field" placeholder="Enter Coin" onKeyup="currencyCalculator()" />
                            <span>BTC</span>
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" id="price_field" placeholder="Price" />
                            <select id="currency_dropdown" onChange="currencyCalculator()">
                              <option>USD </option>
                                <option>CAD </option>
                                <option>NZD </option>
                                <option>EUR </option>
                                <option>JPY </option>
                                <option>GBP </option>
                            </select>
                        </div>
                        <button class="btn btn-primary" id="currency_calculator" type="button">Buy Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="whywe">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="whytitle">
                    <h1>why choose us</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="whysec">
                    <img src="assets/ser1.jpg" />
                    <h1>Strong Security</h1>
                    <p>Morbi eger varius risus, ut venenatis libero Pellentesque in porta dui.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="whysec">
                    <img src="assets/ser2.jpg" />
                    <h1>Payment Options</h1>
                    <p>Morbi eger varius risus, ut venenatis libero Pellentesque in porta dui.</p>
                </div>
                <div class="whysec">
                    <img src="assets/ser3.jpg" />
                    <h1>Legal Compliance</h1>
                    <p>Morbi eger varius risus, ut venenatis libero Pellentesque in porta dui.</p>
                </div>
                <div class="whysec">
                    <img src="assets/ser4.jpg" />
                    <h1>Cress-Platform Trading</h1>
                    <p>Morbi eger varius risus, ut venenatis libero Pellentesque in porta dui.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 text-center">
              <img class="whyimg" src="assets/logo.png" />
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="whysec">
                    <img src="assets/ser5.jpg" />
                    <h1>World Coverage</h1>
                    <p>Morbi eger varius risus, ut venenatis libero Pellentesque in porta dui.</p>
                </div>
                <div class="whysec">
                    <img src="assets/ser6.jpg" />
                    <h1>Advanced Reporting</h1>
                    <p>Morbi eger varius risus, ut venenatis libero Pellentesque in porta dui.</p>
                </div>
                <div class="whysec">
                    <img src="assets/ser7.jpg" />
                    <h1>Margin Trading</h1>
                    <p>Morbi eger varius risus, ut venenatis libero Pellentesque in porta dui.</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="whysec">
                    <img src="assets/ser8.jpg" />
                    <h1>Competitive Commissions</h1>
                    <p>Morbi eger varius risus, ut venenatis libero Pellentesque in porta dui.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="getstart">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <h3>Open account for free and start trading Bitcoins now!</h3>
                <a href="javascript:;">Get Started</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

  (function(b,i,t,C,O,I,N) {
    window.addEventListener('load',function() {
      if(b.getElementById(C))return;
      I=b.createElement(i),N=b.getElementsByTagName(i)[0];
      I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
    },false)
  })(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');

  function currencyCalculator(){
    var coin_value = parseInt($("#coin_field").val());
    var currency = $("#currency_dropdown").val();
    $.ajax({
      url: 'https://min-api.cryptocompare.com/data/price?fsym=BTC&tsyms='+currency,
      method: 'GET',
      success:function(response){
        $('#price_field').val((coin_value > 0) ? coin_value*response[currency] : '');
      }
    });
  }
</script>
<style type="text/css">
  .btcwdgt-text-ticker .btcwdgt-footer{
    display: none !important;
  }
  .live-currency-data.btcwdgt{
    background: transparent !important;
    box-shadow: none !important;
  }
  .live-currency-data.btcwdgt .btcwdgt-edge{
    background: transparent !important;
  }
  .btcwdgt-s-price .btcwdgt-body span{
    position: absolute !important;
    top: -17px !important;
    left: 21px !important;
    margin: 0 auto !important;
    display: block !important
  }
  .btcwdgt-s-price .btcwdgt-body{
    height: 4em !important;
  }
  .btcwdgt-s-price .btcwdgt-body ul li{
    padding: 12px 0 !important;
  }
</style>
<!-- 
<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="welcome-logo">
      <a href="https://peatio.tech" target="blank">
        <img src="<%= ENV['LOGO_URL'] || image_path('logo.svg') %>">
      </a>
    </div>
  </div>

  <section class="text-center" style="line-height: 1">
    <h2><%= t('slogan.heading') %></h2>
    <% if flash[:notice] || flash[:info] || flash[:alert] %>
      <div class="row justify-content-center">
        <div class="col-12">
          <%= render 'shared/flash' %>
        </div>
      </div>
    <% else %>
      <h3><%= t('slogan.subheading') %></h3>
      <p><%= t('slogan.text1') %></p>
      <p><%= t('slogan.text2') %></p>
    <% end %>
  </section>

  <div class="row justify-content-center" id="getstart">
    <% unless current_user %>
      <div class="col-8 text-center">
        <% # Output button for enabled OAuth2 provider. %>
        <% provider = ENV['OAUTH2_SIGN_IN_PROVIDER'] %>
        <% unless provider.blank? %>
          <a class="btn btn-primary btn-lg btn-block" href="/auth/<%= provider == 'google' ? 'google_oauth2' : provider %>" role="button">
            <small><%= t("header.sign_in_with_#{provider}") %></small>
          </a>
        <% end %>
      </div>
    <% else %>
      <div class="col-8 text-center">
        <a class="btn btn-primary btn-lg btn-block" href="<%= trading_path(current_market) %>" role="button">
          <small><%= t('header.getstart') %></small>
          </a>
        <a class="btn btn-primary btn-lg btn-block" href="<%= settings_path %>" role="button">
          <small><%= t('header.settings') %></small>
          </a>
      </div>
    <% end %>
  </div>
</div>
 -->