<h3 class="page-title titles"><%= t('header.funds') %></h3>
<div class="card card-default">
  <div class="card-currencies">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="currencies-container">
        <accounts></accounts>
      </div>
    </div>

    <div class="col-md-8 col-sm-12 col-xs-12border-left">
      <div class="details-container">
        <div class="card-body">
          <!-- {{template 'flash'}} -->
          <ui-view></ui-view>
        </div>
      </div>  
    </div>
  </div>
</div>
<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(window).load(function(){
      $.ajax({
        type: "post",
        url: "<%= gen_address_funds_path %>"
      })
    });
  </script>
<% end %>
