<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="evoxchangeUserSettingsModal">Change Password</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_for @member, url: change_password_settings_path, method: :put, remote: true do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :old_password %> <!-- <i>(we need your current password to confirm your changes)</i> --><br />
          <%= f.password_field :old_password, autocomplete: "off", class: 'form-control', required: true %>            
        </div>

        <div class="form-group">
          <%= f.label :new_password %> <!-- <i>(leave blank if you don't want to change it)</i> --><br />
          <%= f.password_field :new_password, autocomplete: "off", class: 'form-control', required: true %>
        </div>

        <!-- <div class="form-group"> -->
          <%#= f.label :new_password_confirmation %><br />
          <%#= f.password_field :new_password_confirmation, autocomplete: "off", class: 'form-control' %>
        <!-- </div> -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Change</button> -->
        <%= f.submit :change, class: 'btn btn-primary' %>
      </div>

      <div class="modal-footer" style="display: none;">
        <span id="change_password_status"><i></i></span>
      </div>
    <% end %>
  </div>
</div>
<style>
  .modal-body * {
    user-select: none;
  }
</style>
