<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="evoxchangeUserSettingsModal">Referrals</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <div class="form-group col-md-12">
        <%#= label_tag :referral_code %><br>
        <div class="row">
          <%#= text_field_tag :referral_code, @member.uid, class: 'form-control col-md-10', readonly: true %><span class="col-md-1" id="referral_code_copy"><i class="fa fa-copy" id="referral_code_copy"></i></span>
        </div>
      </div> -->

      <div class="form-group col-md-12">
        <%= label_tag :referral_link %><br>
        <div class="row">
          <%= text_field_tag :referral_link, root_url(referral_code: @member.uid), class: 'form-control col-md-10', readonly: true %><span class="col-md-1" id="referral_link_copy"><i class="fa fa-copy" id="referral_link_copy"></i></span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= link_to 'See all referrals <b><i class="fa fa-arrow-right" aria-hidden="true"></i></b>'.html_safe, referrals_path, class: "btn btn-info" %>
    </div>

    <div class="modal-footer" style="display: none;">
      <span id="change_password_status"><i></i></span>
    </div>
  </div>
</div>
<style>
  .modal-body * {
    user-select: none;
  }
  .form-group .row {
    margin-left: -10px;
    margin-right: -10px;
    max-width: 100%;
    margin: 0 auto;
  }
  .modal-body > .row {
    padding: 2%;
  }
  .referrals_table table {
    text-align: center;
  }
  span#referral_link_copy, span#referral_code_copy {
    border: 1px solid #55657a;
    border-radius: 5px;
    padding: 1%;
    margin: 0 auto;
    font-size: 150%;
    cursor: pointer;
    text-align: center;
  }
  input#referral_link, input#referral_code {
    border-color: #55657a;
  }
</style>
<script>
  $('span#referral_code_copy, span#referral_link_copy').click((e) => {
    var codeNodeID = e.target.id.split('_copy')[0]
    var copyText = document.getElementById(codeNodeID);
    copyText.select();
    document.execCommand("Copy");
  })
</script>
