<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="evoxchangeUserSettingsModal">Update Profile</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_tag update_profile_settings_path, method: :post, remote: true do %>
      <div class="modal-body">
        <div class="row form-group">
          <div class="col-6">
            <%= label_tag :first_name %>
            <%= text_field_tag 'member[first_name]', @current_details['first_name'], id: :profile_first_name, class: "form-control", placeholder: 'First name', required: true %>
          </div>

          <div class="col-6">
            <%= label_tag :last_name %>
            <%= text_field_tag 'member[last_name]', @current_details['last_name'], id: :profile_last_name, class: "form-control", placeholder: 'Last name', required: true %>
          </div>
        </div>

        <div class="row form-group mt-4">
          <div class="col-6">
            <%= label_tag :dob, "Date of birth" %>
            <div class="down-arrow">
              <%= date_field_tag 'member[dob]', @current_details['dob'], id: :profile_dob, class: 'datepicker-toggle form-control', 'data-date-format': 'yyyy-mm-dd', 'data-date-end-date': '-1d', placeholder: 'Date of birth', required: true %>
            </div>
          </div>

          <div class="col-6">
            <%= label_tag :country %>
            <%= select_tag 'member[country]', display_country(@current_details['country']), class: "form-control", required: true %>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12">
            <%= label_tag :address %>
            <%= text_field_tag 'member[address]', @current_details['address'], id: :profile_address, class: "form-control", placeholder: 'Address', required: true %>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-6">
            <%= label_tag :city %>
            <%= text_field_tag 'member[city]', @current_details['city'], id: :profile_city, class: "form-control", placeholder: 'City', required: true %>
          </div>

          <div class="col-6">
            <%= label_tag :postcode %>
            <%= text_field_tag 'member[postcode]', @current_details['postcode'], id: :profile_postcode, class: "form-control", placeholder: 'Postcode', required: true %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag("CONFIRM", class: "btn btn-primary") unless @current_details.present? %>
      </div>

      <div class="modal-footer" style="display: none;">
        <span id="update_profile_status"><i></i></span>
      </div>
    <% end %>
  </div>
</div>
<style>
  .modal-body * {
    user-select: none;
  }
</style>
