<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="evoxchangeUserSettingsModal">Upload Documents</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_tag upload_documents_settings_path, method: :post, mutipart: true, id: 'member_upload_documents_form' do %>
      <div class="modal-body">
        <div class="row">
          <div class="field col-12 ">
            <label>Document upload</label>
            <%= file_field_tag 'document[upload]', {id: :document_upload, class: 'dropify form-control underlined', required: true, 'data-allowed-file-extensions': 'png jpg jpeg', 'data-max-file-size': '10M', 'data-default-file': (@current_details.present? ? image_url(ENV.fetch('BARONG_DOMAIN')+@current_details.last['upload']['url']) : false)} %>
            </br>
          </div>
        </div>
        <div class="row">
          <div class="field col-6">
            <%= label_tag :doc_type, 'Document type' %>
            <%= select_tag 'document[doc_type]', options_for_select(Member::DOC_TYPES, (@current_details.present? ? @current_details.last['doc_type'] : nil)), {id: :document_doc_type, class: 'form-control underlined', required: true} %>
          </div>

          <div class="field form-group">
            <%= label_tag :doc_expire, 'Document expiry' %>
            <div class="down-arrow">
              <%= date_field_tag 'document[doc_expire]', (@current_details.present? ? @current_details.last['doc_expire'] : nil), {id: :document_doc_expire, class: 'datepicker-toggle form-control underlined', 'data-date-format': 'yyyy-mm-dd', 'data-date-start-date': '+1d', placeholder: 'Expiry date', required: true} %>
            </div>
          </div>

          <div class="field form-group col-12">
            <%= label_tag :doc_number, 'Document number' %>
            <%= text_field_tag 'document[doc_number]', (@current_details.present? ? @current_details.last['doc_number'] : nil), id: :document_doc_number, class: 'form-control underlined', placeholder: 'AB123456', required: true %>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag 'Submit', class: 'btn btn-primary', id: 'document_verify_contact_submit' %>
      </div>

      <div class="modal-footer" style="display: none;">
        <span id="upload_documents_status"><i></i></span>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('form#member_upload_documents_form').on('submit', function(e){
    e.preventDefault();
    var formData = new FormData('form#'+this.id);
    $.ajax({
      url: this.action,
      type: "POST",
      data: new FormData(this),
      contentType: false,
      cache: false,
      processData:false
    });
  })
</script>
<style>
  .modal-body * {
    user-select: none;
  }
</style>
