<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="evoxchangeUserSettingsModal">Verify Phone Number</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_tag verify_contact_settings_path, method: :put, remote: true do %>
      <div class="modal-body">
        <div class="form-group">
          <%= label_tag :country_code %><br />
          <%= number_field_tag 'member[country_code]', nil, {class: 'form-control', required: true, placeholder: 'Country Dial Code'} %>
        </div>
        <div class="form-group">
          <%= label_tag :phone_number %><br />
          <%= number_field_tag 'member[phone_number]', nil, {class: 'form-control', required: true, placeholder: 'Phone Number'} %>
        </div>

        <div class="form-group">
          <%= link_to 'Send Code', verify_contact_settings_path, class: 'btn btn-sm btn-success', id: 'contact_code_link' %> <span id="contact_code_status"><i></i></span>
        </div>

        <div class="form-group">
          <%= label_tag :verification_code %><br />
          <%= number_field_tag 'member[verification_code]', nil, {class: 'form-control', required: true, disabled: true, placeholder: 'Verification Code'} %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag 'Save', class: 'btn btn-primary', disabled: true, id: 'member_verify_contact_submit' %>
      </div>

      <div class="modal-footer" style="display: none;">
        <span id="verify_contact_status"><i></i></span>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('#contact_code_link').click(function(e){
    e.preventDefault();
    country_code = $('input#member_country_code').val();
    phone_number = $('input#member_phone_number').val();
    $.post(this.href, {
      phone_number: (country_code+phone_number)
    }, function(response) {
      if (response.status) {
        $('span#contact_code_status i').text(response.message);
        $('input#member_verification_code, input#member_verify_contact_submit').removeAttr('disabled');
      } else {
        $('span#contact_code_status i').text(response.message);
      }
    })
  })
</script>
<style>
  .modal-body * {
    user-select: none;
  }
</style>
