<% if @status %>
  <% flash[:notice] = @message %>
  window.location.reload()
<% else %>
  $('span#<%= params[:action] %>_status i').text('<%= @message %>').parents('div.modal-footer').show()
<% end %>
