<% content_for :guide_title do %>
  <% verifying_phone = is_verified? 1 %>
  <% verifying_identity = is_verified? 2 %>
  <% verifying_document = is_verified? 4 %>

  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="boxes">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="accont text-center">
                    <% if current_user.avatar.present? %>
                      <%= image_tag current_user.avatar%>
                    <% else %>
                      <img src="/assets/admin.png" />
                    <% end %>  
                    <h4><%= current_user.email %></h4>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center accontdata">
              <%= form_tag(change_avatar_settings_path,multipart: true, method: :post) do  %>
                <div class="inputimg">
                  <%= label_tag :avatar, 'Choose file'%>
                  <%= file_field_tag :avatar%>
                </div>
                <%= submit_tag "Save", class: "btn btn-success"%>
              <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="boxes">
          <h3 class="titles">Personal information</h3>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="person">
                    <form class="form-horizontal" method="post">
                      <div class="form-group">
                        <label class="col-sm-3 control-label text-left">First Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="First Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Last Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label text-left">Email</label>
                        <div class="col-sm-9">
                          <input type="email" class="form-control" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12 text-right">
                          <button type="submit" class="btn button btn-default">Save Details</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="boxes">
          <h3 class="titles">Authentication & Verification</h3>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="autho">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="/assets/icon1.png" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">E-mail verification</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                      </div>
                    </div>
                    <div class="authoright">
                      <button type="button" class="btn btn-success">
                          <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Verified
                        </button>
                    </div>
                </div>
                <div class="autho">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="/assets/icon4.png" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Phone Number</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                      </div>
                    </div>
                    <% if is_verified?(2)%>
                      <div class="authoright">
                        <button type="button" class="btn btn-success">
                          <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Verified
                        </button>
                      </div>
                    <% else %>
                      <div class="authoright">
                        <%= icons_tags_str(is_verified?(2)).html_safe %></h5>
                        <a href="javascript:void(0)" class="btn btn-primary <%= verifying_phone ? 'update_profile' : 'update_disabled' %>" id="<%= verifying_phone ? 'verify_contact' : 'please_verify_email' %>">Update Phone Number</a>
                      </div>
                    <% end %>  
                </div>
                <div class="autho">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="/assets/icon2.png" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Verify Account</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                      </div>
                    </div>
                    <% if is_verified?(4)%>
                      <div class="authoright">
                        <button type="button" class="btn btn-success">
                          <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Verified
                        </button>
                      </div>
                    <% else %>
                      <div class="authoright">
                        <%= icons_tags_str(is_verified?(4)).html_safe %></h5>
                        <a href="javascript:void(0)" class="btn btn-primary <%= verifying_identity ? 'update_profile' : 'update_disabled' %>" id="<%= verifying_identity ? 'update_profile' : 'please_verify_phone_number' %>">Update Profile</a>
                      </div>
                    <% end %>  
                </div>
                <div class="autho">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" src="/assets/icon2.png" alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Upload Document</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                    </div>
                  </div>
                  <% if is_verified?(4)%>
                    <div class="authoright">
                      <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Verified
                      </button>
                    </div>
                  <% else %>
                    <div class="authoright">
                      <%= icons_tags_str(is_verified?(4)).html_safe %></h5>
                      <a href="javascript:void(0)" class="btn btn-primary <%= verifying_document ? 'update_profile' : 'update_disabled' %>" id="<%= verifying_document ? 'upload_documents' : 'please_verify_identity' %>">Upload Document</a>
                    </div>
                  <% end %>  
                </div>
                <div class="autho">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="/assets/icon3.png" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">API Tokens</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                      </div>
                    </div>
                    <div class="authoright">
                      <label class="switch">
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="autho">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="/assets/icon5.png" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Two-Factor Authentication</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</p>
                      </div>
                    </div>
                    <div class="authoright">
                      <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="autho">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="/assets/icon6.png" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Password</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and </p>
                      </div>
                    </div>
                    <div class="authoright">
                      <a href="javascript:void(0)" class="btn btn-warning update_profile" id="change_password">Change Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
<% end %>

<% content_for :guide do %>
  <% if current_user.admin? %>
    <span class="badge badge-warning">ADMIN</span>
  <% end %>
<% end %>
  <div class="modal fade in bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="caishenexchangeUserSettingsModal" aria-hidden="true"></div>


<script>
  $(document).on('click','a.update_profile', function(e) {
    $.get('/settings/'+e.target.id, function(response) {
      var modal = $('.modal#exampleModalCenter')
      modal.html(response)
      modal.modal('show')
    })
  })
  var msg_hash = {
    'please_verify_email': 'Please verify your Email address first!',
    'please_verify_phone_number': 'Please verify your Phone Number first!',
    'please_verify_identity': 'Please verify your Identity by filling Profile Detials first!',
    'please_verify_document': 'Please complete all verifications for access to Referrals!'
  };
  $(document).on('click','a.update_disabled', function(e) {
    alert(msg_hash[e.target.id]);
  })
</script>