<!-- <div role="tabpanel" class="tab-pane active" id="tab1">
  <table class="table"> 
      <colgroup>
      <col width="60%">
      <col width="12%">
      <col width="16%">
      <col width="10%">
      </colgroup>
      <thead> 
      <tr> 
        <th>Address</th> 
        <th>Balance</th>
        <th>Total BTC Assets</th> 
        <th>BTC</th>
      </tr> 
      </thead> 
      <tbody> 
      <tr> 
        <td>gf2y3ir7t32ibt2o3btbdioqusgdlulOTLHJDGDKYYOGUIG^Tgyhgcahjsgc7iOGLIKGKJGJ</td>
        <td>133.08</td>
        <td>133.08</td>
        <td>133.08</td>
      </tr> 
      <tr> 
        <td>gf2y3ir7t32ibt2o3btbdioqusgdlulOTLHJDGDKYYOGUIG^Tgyhgcahjsgc7iOGLIKGKJGJ</td>
        <td>133.08</td>
        <td>133.08</td>
        <td>133.08</td>
      </tr>
      <tr> 
        <td>gf2y3ir7t32ibt2o3btbdioqusgdlulOTLHJDGDKYYOGUIG^Tgyhgcahjsgc7iOGLIKGKJGJ</td>
        <td>133.08</td>
        <td>133.08</td>
        <td>133.08</td>
      </tr>
      </tbody> 
  </table>
</div>
 -->


<% Currency.all.each_with_index do |ccy, i| %>
  <div role="tabpanel" class="tab-pane <%= i == 0 ? 'active' : ''%>" id="tab<%= (i+1)%>">
      <% name    = ccy.fiat? ? 'fiat' : ccy.code %>
      <% proof   = instance_variable_get(:"@#{name}_proof") %>
      <% account = instance_variable_get(:"@#{name}_account") %>
      <div id="<%= name %>-proof" >
        <div class="trade-wrapper">
          <div class="assets">
            <span class="title"><%= t(".#{ccy.type}-assets-total", currency: ccy.code.upcase).html_safe %></span>
            <span class="currency">
              <%= proof.present? ? proof.sum : t('private.assets.liability_proof_generation') %>
            </span>
          </div>
          <div class="container-fluid">
            <%= render 'liability_data', account: account, proof: proof %>
          </div>
        </div>
      </div>
    <div class="col-md-12 col-sm-12 col-xs-12 aler">
      <a class="nav-link btn btn-primary pull-right <%= 'active' if i.zero? %> <%= name %>-proof" href="#<%= name %>-proof" data-toggle="tab"><%= t(".verify-#{ccy.type}", currency: ccy.code.upcase).html_safe %>
      </a>
    </div>
  </div>
<% end %>





