<% content_for :frame do %>    
  <div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="boxes">
                  <h3 class="titles">Solvency</h3>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="solvency">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <a href="javascript:;">How to verify an exchange is solvent?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="boxes">
                  <h3 class="titles">Assets</h3>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="histable solveover">
                        <ul class="nav nav-tabs" role="tablist">
                          <% Currency.all.each.with_index(0) do |ccy, i| %>
                            <li role="presentation" >
                              <a href="#tab<%=(i+1)%>" aria-controls="tab<%=(i+1)%>" role="tab" class="<%= 'active'  if i==0 %>" data-toggle="tab"><%= t(".#{ccy.type}-assets", currency: ccy.code.upcase) %></a>
                            </li>
                          <% end %>  
                        </ul>
                            <!-- Tab panes -->
                        <% if current_user %>
                          <div class="tab-content">
                            <%= render 'liability_tabs' %>
                          </div>
                        <%end%>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 aler">
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Save successfully.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
<%end%>
