@import 'vars/bootstrap';
@import 'bootstrap';

@import 'vars/basic';

@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'layouts/basic';
@import 'layouts/header';

@import 'features/welcome';
@import 'features/assets';
@import 'features/history';
@import 'features/funds';



/* layouts
-------------------------------------------------------------- */
html, body {
  height: 100vh;
}
.ui-radius{
  margin-top: 80px;
}
// disabling responsive
.container {
  min-width: 960px;
}

#wrap {
  margin: 0 auto 0 - $footer-height;
  min-height: 100%;

  & + iframe { display: none; }

  #guide {
    padding-left: 26px;
  }

  #content {
    padding-top: 15px;

    .list-group {
      margin-right: -15px;
      margin-bottom: 0px;

      .list-group-item {
        border-left: 0px;
        border-right: 0px;

        &.split {
          padding-bottom: 8px;

          & > * {
            margin-top: 4px;
            margin-bottom: 0px;
          }
        }

        &:first-of-type {
          padding-top: 0px;
          border-top: 0px;
        }

        &:last-of-type {
          border-bottom: 0px;
        }
      }
    }
  }
}
footer.footer {
  color: $footer-color;
  height: $footer-height;
  margin-top: -$footer-height;
  box-sizing: 'border-box';
  padding-top: 20px;
  width: 100%;
  background-color: $footer-bg;
  border-top: 1px solid $footer-border;
}

#push {
  height: $footer-height;
  box-sizing: 'border-box';
}


/* ticker
------------------------------------------- */
.dl-horizontal.dl-ticker {
  margin-bottom: 10px;
  line-height: 40px;

  dt {
    width: 38px;
    cursor: pointer;
    color: #A9A9A9;
  }

  dd {
    margin-top: -4px;
    font-size: 20px;
    margin-left: 42px;
    font-family: monospace;
  }
}

/* flash message element

------------------------------------------------------- */
.flash-alert, .flash-notice {
  margin-top: 4px;
  margin-bottom: 4px;
  h5 i.fa { margin-right: 10px; }
}

@import 'layouts/custom';
