@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700,900i,900');
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1; font-family: 'Roboto', sans-serif; background-color:#F6F7FB;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
a:hover, a:focus{text-decoration:none;outline:none;}
a {color: #009bf5; font-weight: 500;}
p {color: #8e90a5; font-size: 15px; font-weight: 500; line-height: 1.5; margin-bottom: 15px;}

/*-----------------------API-tokens Page---------------------------*/

.navbar-inverse {background-color: #fff; border-color: #ddd;}
#wrapper {padding-left: 0;}
#page-wrapper {width: 100%; padding: 0;}

/* Top Navigation */
.top-nav {padding: 0 15px;}
.side-nav .sidelogo {text-align:center;}
.side-nav .sidelogo img{max-width:150px; width:100%;}
.toptitle{float:left;margin-left:240px; padding-top:15px;}
.toptitle h3 {color: #505366; font-size: 18px; font-weight: 500;}
.top-nav > li {display: inline-block; float: left; border-left:1px solid #ddd;}
.top-nav > li:first-child {border-left:none;}
.top-nav > li > a {padding-top: 20px; padding-bottom: 15px; line-height: 20px; color: #999; font-weight:600;}
.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a :hover, .top-nav > .open > a:focus {color: inherit; background-color: transparent;}
.top-nav > .open > .dropdown-menu {float: left; position: absolute; margin-top: 0; border-top-left-radius: 0; border-top-right-radius: 0; background-color: #fff; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.top-nav > .open > .dropdown-menu > li >a {white-space: normal;}
.navbar-inverse .navbar-toggle .icon-bar {background-color: #009bf5;}
.alertbell{position:relative;}
.alertbell sup {background-color: #ff3d7f; border-radius: 30px; color: #fff; font-size: 9px; padding: 1px 4px; margin-left: -9px; top: -8px;}
.top-nav #user-profile {padding-left: 51px; padding-top: 10px; position: relative; margin-top:9px;}
.top-nav #user-profile img {height: 35px; left: 8px; padding: 1px; position: absolute; top: 2px; width: 35px;}

/* Side Navigation */
.side-nav > li > ul {padding: 0; border-bottom: 1px rgba(0,0,0,.3) solid;}
.side-nav > li > ul > li >a {display: block; padding: 10px 15px 10px 38px; text-decoration: none; color: #fff;}
.side-nav > li > ul > li > a:hover {color: #fff;}
.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}
.navbar .nav > li > a:hover > .label {top: 10px;}
.navbar-brand {padding: 5px 15px; display:none; height:auto;}

@media(min-width:768px) {
//body {margin-top: 80px;}

}
@media(min-width:768px) {
#wrapper {padding-left: 225px; margin-top: 80px;}

}
@media(min-width:768px) {
.side-nav {position: fixed; top: 0px; left: 225px; width: 225px; margin-left: -225px; border: none; border-radius: 0; border-top: 1px rgba(0,0,0,.5) solid; overflow-y: auto; background-color: #009BF5; bottom: 0; overflow-x: hidden; padding-bottom: 40px;}
.side-nav>li>a {width: 225px;}
.navbar-inverse .navbar-nav > li > a{color:#fff; font-weight:600;}
.navbar-inverse .navbar-nav > li > a i{margin-right:10px;}
.side-nav li a:hover, .side-nav li a:focus {outline: none; background-color: #fff !important; color:#009BF5 !important;}
.side-nav li.sidelogo a:hover, .side-nav li.sidelogo a:focus {background-color: transparent !important;}

}
.boxes {background: hsl(0, 0%, 100%) none repeat scroll 0 0; border: 1px solid hsl(0, 0%, 93%); border-radius: 4px; display: inline-block; margin-bottom: 30px; width: 100%;}
.titles{font-size:16px;font-weight:500;color:#505366;padding:15px; border-bottom: 1px solid hsl(0, 0%, 93%);}
.toktext {padding:30px; width:100%; display:inline-block;}
.toktext a{margin-bottom:7px; display:inline-block;}

.toktable{/*border-left:1px solid #ddd;*/ padding:20px; display:inline-block; width:100%;}
.button {background-color: #009bf5; border-radius: 5px; border-color:#009bf5; color: #fff; font-size: 13px; font-weight: 600; letter-spacing: 1px; padding: 8px 15px;}
.button:hover, .button:focus {background-color:#0065bf; color:#fff; border-color:#0065bf;}
.keytable {border-top: 1px solid #eee; margin-top: 20px;float:left;}
.keytable th, .keytable td{padding:12px;}
.keytable td{color:#999; font-weight:600;}
.keytable span{color:#BB444B; background-color:#F7F8FA;}
.keytable2{margin-top:0;border-top:none;}
.footer{float:left; width:100%; padding:20px 0; border-top:1px solid #ddd;}
.footer p{float:left; color:#8e90a5; margin-bottom:0; line-height:1.2;}
.footer ul{float:right;}
.footer ul li{display:inline-block;}
.footer ul li a{color:#8e90a5; padding:0 10px; position:relative;}
.footer ul li a:hover{color:#666;}
.footer ul li a:after{content:" | "; position:absolute; right:0;top:0;}
.footer ul li:last-child a:after{content:"";}

@media screen and (min-width:991px) and (max-width:1199px){
.toktext {padding: 15px;}

}
@media screen and (min-width:768px) and (max-width:991px){
.toktext {padding: 15px;}
.toktable{border-left:none;}
.footer p{text-align:center;margin-bottom:10px;width:100%;}
.footer ul{float:none;display:inline-block;text-align:center;width:100%;}

}
@media screen and (max-width:767px){
body {margin-top: 150px;}
.navbar-brand{display:inline-block;}
.navbar-brand > img {max-width: 160px;}
.side-nav .sidelogo{display:none;}
.navbar-ex1-collapse {background-color: #009bf5; border: medium none;}
.navbar-inverse .navbar-nav > li > a{color:#fff;}
.navbar-fixed-top{position:absolute;}
.top-nav{text-align:center;}
.top-nav > li{display:inline-block;float:none}
.toptitle{display:none;}
.toktext {padding: 15px;}
.toktable{border-left:none;}
.footer p{text-align:center;margin-bottom:10px;width:100%;}
.footer ul{float:none;display:inline-block;text-align:center;width:100%;}

}
@media screen and (max-width:480px){
.toktable {overflow-Y: auto;}
.footer ul li {width: 100%; margin-top: 10px;}
.footer ul li a:after {content: "";}

}


/*-----------------------History Page---------------------------*/


.histable{margin-top:20px;}
.histable .nav-tabs{margin-bottom:20px;}
.histable .nav-tabs > li.active > a, .histable .nav-tabs > li.active > a:hover, .histable .nav-tabs > li.active > a:focus {border-bottom: 2px solid #009bf5; border-width:0 0 2px;}
.histable .nav-tabs > li > a {border:none;color:#666; border-radius:0;}
.histable .nav-tabs > li > a:hover {border-bottom: 2px solid #009bf5; background-color:transparent;color:#666;}
.histable .table th{color:#5B5565;}
.histable .table td{color:#B7B5C0;font-weight:600;padding:10px;}

@media screen and (max-width:991px){
.histable .tab-content > .tab-pane {overflow-y: auto;}

}
@media screen and (max-width:480px){
.histable .nav-tabs > li {text-align: center; width: 100%;}
.histable .nav-tabs > li > a {border: 1px solid transparent;}
.histable .nav-tabs > li.active > a, .histable .nav-tabs > li.active > a:hover, .histable .nav-tabs > li.active > a:focus{border-width:0 0 1px;}
.histable .nav-tabs > li > a:hover {border-bottom: 1px solid #009bf5;}

}


/*-----------------------Login Page---------------------------*/


.login{background-color:#F6F7FB;padding-bottom:60px;position:relative;}
.logi{max-width:400px;margin:0 auto 60px;}
.logdiv{background-color:#fff;padding:30px;border:1px solid #eee; border-radius:5px; margin:20px auto 0;display:inline-block;width:100%;}
.logdiv h3 {color: #159ef1; font-weight: 600; margin-bottom: 20px; margin-top: 20px; text-transform: uppercase;}
.logdiv p {color: #666; font-size: 14px; margin-bottom: 10px;}
.logdiv .form-control {border-radius: 0;color: #999; font-weight: 500; border-color:#eee;}
.logdiv .form-control::-moz-placeholder {color: #ccc;}
.logdiv .checkbox {float: left; margin: 0;}
.logdiv .checkbox label{font-weight:600;color:#999;}
.logdiv .checkbox input[type="checkbox"]{margin-top:0;}
.logdiv a{float:right;}
.logdiv .btn-default {background-color: #0f9aed; border: medium none; color: #fff; margin-top:30px; float: right;}
.logfooter {position:absolute;bottom:0;left:0;right:0;margin:0 auto;}
.logfooter .footer{border-top:none;}

@media screen and (max-width:767px){
body.login {margin-top: 30px;}

}
@media screen and (max-width:480px){
.logfooter{position:relative;}
.logdiv {padding: 20px;}
.logdiv h3 {font-size: 18px;}
.logdiv .checkbox {width: 100%;}
.logdiv a {display: inline-block; float: none; margin-top: 10px;}
.logdiv .btn-default {float: none; margin-top: 20px;}

}


/*-----------------------Account Settings Page---------------------------*/


.text-left{text-align:left !important;}
.accont{padding:20px;}
.accont img{max-width:130px;border:1px solid #eee;border-radius:50%; margin-bottom:20px;}
.accont h4{color:#49565C;font-weight:600;}
.accontdata{padding:15px 15px; border-top:1px solid #eee;}
.inputimg {border: 1px solid #ddd; border-radius: 5px;color: #666; font-weight: 600; margin-bottom: 5px; padding: 10px 20px; position:relative; display:inline-block; overflow:hidden;}
.inputimg input[type="file"] {bottom: 0; left: 0; opacity: 0; position: absolute; top: 0; cursor:pointer;}
.accontdata span {color: #777; display: block; font-size: 10px; font-weight: 600;}
.person{margin-top:30px;}
.person .form-horizontal .control-label {color: #514e5f; margin-bottom: 0; padding-top: 10px; text-align: right;}
.person .form-control {border-radius: 0; color: #8A8DAC; font-weight: 500; border-color:#E7ECF0; padding:9px 10px; height:auto;}
.person .form-control::-moz-placeholder {color: #8A8DAC;}

.autho {border-bottom: 1px solid #eee; padding: 20px 10px 10px; margin-bottom:10px; width:100%; float:left;}
.autho:last-child {border-bottom:none;}
.autho .media{width:80%;float:left;padding-right:10px;}
.autho .authoright{width:20%;float:left; text-align:right;}
.autho .media-heading {color: #4d5266; font-weight: 600;}
.autho .media-body p {line-height: 1.58;}
.authoright .btn {border-radius: 30px; font-size: 12px; font-weight: 600; letter-spacing: 1px; line-height: 1.2; padding: 8px 18px;}
.authoright .btn-success {background-color: #39C936; border-color: #39C936;}
.authoright .btn-default {background-color: #EDF2F8; border-color: #EDF2F8; color:#53565D;}
.authoright .btn-warning {background-color: #FFD11B; border-color: #FFD11B;}
.authoright .switch {position: relative; display: inline-block; width: 46px; height: 24px;}
.authoright .switch input {display:none;}
.authoright .slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s;}
.authoright .slider:before {position: absolute; content: ""; height: 20px; width: 20px; left: 4px; bottom: 2px; background-color: white; -webkit-transition: .4s; transition: .4s;}
.authoright input:checked + .slider {background-color: #37C734;}
.authoright input:focus + .slider {box-shadow: 0 0 1px #37C734;}
.authoright input:checked + .slider:before {-webkit-transform: translateX(19px); -ms-transform: translateX(19px); transform: translateX(19px);}
/* Rounded sliders */
.authoright .slider.round {border-radius: 34px;}
.authoright .slider.round:before {border-radius: 50%;}

.changpass{display:inline-block; width:100%; padding:15px 0 0;}
.changpass .form-group:last-child{margin-bottom:0;}
.borderl{border-left: 1px solid #ddd;}
.bordert{border-top: 1px solid #ddd; padding-top:15px;}
.changpass .form-group .btn {font-size: 16px; margin-left:10px; font-weight:500;}
.changpass p {color: #000; font-size: 13px; margin-bottom: 0;}

@media screen and (max-width:991px){
.autho .media{width:100%;}
.autho .authoright{width:100%;}
.borderl{border-left: none;}

}
@media screen and (max-width:767px){
.person .form-horizontal .control-label{margin-bottom:10px;}
.changpass .form-horizontal{margin-top:20px;}
.changpass .control-label{margin-bottom:10px;}

}
@media screen and (max-width:400px){
.g-recaptcha {display:none;}

}


/*-----------------------API Document Page---------------------------*/


.apicode{padding: 20px 10px; width: 100%; display:inline-block;}
.apicode p{margin-bottom:6px;}
.apitable{padding:15px 5px; float:left; width:100%;}
.apitable .table {border-top:1px solid #ddd; margin-top:10px; margin-bottom:0;}
.apitable .table tr th{padding:13px 10px;color:#544E58;}
.apitable .table tr td{padding:13px 10px;color:#8e90a5;font-size:15px; font-weight:500;}
.appkey{display:inline-block;width:100%;}
.appkey li {align-items: flex-start; display: flex;}
.appkey li div {min-width:140px;}
.appkey span {background-color: #fdf8e5; color: #0d112a; font-family: Menlo,Monaco,Consolas,"Courier New",monospace; font-size: 100%; font-weight: 600; padding: 2px 0; line-height: 1.1; display:inline-block;}
.highlight {padding: 9px 14px; margin: 15px 0; background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 4px;}
.highlight p {display: block; margin: 0 0 10px; font-size: 14px; line-height: 1.42857143; color: #373038; font-weight:600; word-wrap: break-word; border-radius: 4px; padding: 0;  margin-top: 0;  margin-bottom: 0; word-break: normal; font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}
.apicode h4 {color: #524f64; margin-bottom: 25px; margin-top: 15px;}
.datast .highlight{margin-top:0;}
.datast .table td {color: #8e90a5; font-size: 14px; font-weight: 500;}
.datast ul li {color: #8e90a5; font-size: 14px; font-weight: 500; line-height: 1.2;margin-bottom:3px;}
.datast ul li span {background-color: #fdf8e5;color: #0d112a; display: inline-block;  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; font-size: 100%; font-weight: 600; line-height: 1.1; padding: 2px 0;}

.apitips{padding:15px 5px; float:left; width:100%;}
.apitips .table {margin-bottom:0;}
.apitips .table tr th{padding:13px 10px;color:#544E58;}
.apitips .table tr td{padding:13px 10px;color:#8e90a5;font-size:15px; font-weight:500;}

.acord #accordion .panel{border:0px none; box-shadow:none; margin-bottom:30px;}
.acord #accordion .panel-heading{padding:0; background: #fff;}
.acord #accordion .panel-title a {background: transparent none repeat scroll 0 0; border-bottom: 1px solid #ccc; color: #515465; display: block; font-size: 18px; font-weight: 600; padding: 22px 20px; position: relative; transition: all 0.1s linear 0s;}
.acord #accordion .panel-title a.collapsed{color:#808080; border-bottom:1px solid #d3d3d3; margin: 0;}
.acord #accordion .panel-title a i{color:#de4d4e; position: absolute; top: 14px; left:25px;}
.acord #accordion .panel-title a.collapsed:before{content:""; border: 0px none;}
.acord #accordion .panel-title a.collapsed:hover{color: #6a6060;}
.acord #accordion .panel-title a:after, .acord #accordion .panel-title a.collapsed:after{
 content: "\f107";
 font-family: FontAwesome;
 font-size: 20px;
 border-radius: 30px;
 line-height: 20px;
 position: absolute;
 top: 14px;
 right:25px;border: 1px solid #999;
 text-align: center;
 width: 22px;
}
.acord #accordion .panel-title a.collapsed:after{content: "\f105"; color:#808080;}
.acord #accordion .panel-body{border-top:0 none; color:#808080;}
.acord .highlight{background-color:#FBF7DA;}

@media screen and (min-width:768px) and (max-width:991px){
.datast {float: left; overflow-x: auto; width: 100%;}
.datast .table {max-width: 700px; width: 700px;}

}
@media screen and (max-width:767px){
.datast {float: left; overflow-x: auto; width: 100%;}
.datast .table {max-width: 700px; width: 700px;}

}
@media screen and (max-width:480px){
.apitable, .apitips {overflow-x: auto;}

}


/*-----------------------Coin Page---------------------------*/


.contable {margin:20px 10px;}
.contable .table th, .contable .table th a{color:#5B5565; font-size:17px; font-weight:600;}
.contable .table td{color:#B7B5C0;font-weight:600;padding:10px;vertical-align:middle;border-bottom: 1px solid #ddd;}
.contable .media-object {max-width: 40px;}
.contable .media-body p {color: #ccc; font-size: 13px; font-weight: 600; line-height: 1.2; margin-bottom: 0;}
.contable .media-body h4 {color: #676d83; font-weight: 600; margin-top: 4px; font-size:16px;}
.contable .table p {color: #554d62; font-weight: 600; margin: 0;}
.contable .chan{font-weight:600;font-size:18px;}
.contable .up{color:#36BF3B;}
.contable .down{color:#DE1E18;}
.buysell{float:left;width:100%;}
.buysell a {border: 1px solid #ddd; border-radius: 20px; color: #554d5a; display: inline-block; font-size: 13px; font-weight: 600; margin: 4px; padding: 6px 16px;}
.buysell a:hover {background-color:#0F9AED;border-color:#0F9AED;color:#fff;}

.selecval {-moz-appearance: none; -webkit-appearance: none; background-image: url("../images/arrow-down-angle.png"); background-position: right center; background-repeat: no-repeat; background-size: 16px 18px; border: medium none; color: #000; padding-right: 19px; position: relative;
}

@media screen and (max-width:991px){
.contable .table th, .contable .table th a {font-size: 14px;}
.contable .chan {font-size: 14px;}
.contable .media-object {max-width: 30px;}

}
@media screen and (max-width:640px){
.contable {margin: 10px 0; overflow-x: scroll;}
.contable .media-body h4 {font-size: 13px;}
.contable .table td {padding: 5px 10px;}

}
@media screen and (max-width:480px){
.contable .table {max-width: 500px; width: 500px;}

}


/*-----------------------Tickets Page---------------------------*/


.tick {background-color: #009bf5; border-color: #009bf5; border-radius: 5px; color: #fff; font-size: 13px; font-weight: 600; letter-spacing: 1px; padding: 8px 15px;}
.tick:hover, .tick:focus {background-color: #0065bf; border-color: #0065bf; color: #fff;}


/*-----------------------Google-auto Page---------------------------*/


.googletext{display:inline-block;width:100%;padding:15px 10px;}
.googletext h3 {margin-bottom:10px;}
.googletext p {color: #666; font-size: 13px; line-height: 1.3;}
.googletext p.tips {color: #B39F7F;}

.google{display:inline-block;width:100%; margin-top:20px;}
.google .form-group{margin:0 0 10px;}
.google .form-group .btn {font-size: 16px; margin-left:10px; font-weight:500;}
.google .form-group p {color: #000; font-size: 13px; margin-bottom: 0;}


@media screen and (max-width:767px){
.google .control-label{margin-bottom:5px;}

}


/*-----------------------Privacy-Policy Page---------------------------*/


.privacy{margin:40px 0 70px;}
.privacy h1 {margin-bottom: 20px; text-align:center;}
.privacy h3 {margin-bottom: 10px;}
.privacy p {margin-bottom: 20px;}

.privacy .footer{position:fixed; bottom:0; left:0; padding-bottom:0px; background-color:#F6F7FB;}

@media screen and (max-width:991px){
.privacy .footer{padding-bottom:20px; position:relative;}

}


/*-----------------------Withdraw Page---------------------------*/

.withd .col-md-4{padding:0 5px;}
.withd a {color: #364450;}
.withd a:hover {text-decoration:underline;}
.withd .currencies-container {min-height: 750px; border-right: 1px solid #ddd;}
.table-currencies {border-radius: 5px; right: -1px; margin-bottom: 0;}
.currency-item {margin: 0;}
.table-currencies > tbody > tr > td {border-top: none; border-bottom: 1px solid #ddd; padding: 20px 10px;}
.currency-item .currency-logo {text-align: center; width: 20%;}
.currency-item .currency-balance-col {padding-left: 0; padding-right: 0; }
.currency-item .currency-actions {position: relative; text-align: right; vertical-align: middle;}
.currency-item .currency-logo img {max-height: 32px;}
.currency-item .currency-logo .currency-symbol {display: block; text-transform: uppercase; color: #999; font-size: 12px;}
.currency-item .currency-balance {font-size: 24px; font-weight: bold; font-family: monospace; margin: 0; color:#333;}
.currency-item .currency-balance .currency-sign {display: none;  font-size: 20px;   margin-left: -4px;}
.currency-item .currency-balance-locked {display: block; color: #999; font-size: 14px; font-weight: normal;}
.currency-item .currency-actions p {margin: 0; position: relative;}
.currency-item .currency-actions p:first-child {margin: 0 0 20px 0;}
.withd .col-md-8{padding:0 5px;}
.withd .details-container {padding: 20px 20px 0;}
.withd .panel-title {font-size: 20px; font-weight: bold; margin-bottom: 15px;}
.withd .help-block {display: block; margin-top: 5px; margin-bottom: 10px; color: #737373;}
.withd .details-container .help-block {font-size: 14px;}
.withd .details-container .form {margin: 30px 0; max-width: 640px;}
.withd .form-group {margin-left: -5px; margin-right: -5px;}
.withd .details-container .form .control-label {text-align: left;}
.withd .form-control-static {padding-top: 7px; padding-bottom: 7px; margin-bottom: 0; min-height: 34px;}
.withd .details-container .form .currency-balance {color: #449D44; font-size: 16px; font-weight: bold;}
.withd .btn-default {color: #fff; background-color: #364450; border-color: #2c3741; line-height:1.2;}
.withd .btn-default:hover {color: #fff; background-color: #212a32; border-color: #13181c;}

@media screen and (max-width:991px){
.withd .currencies-container{min-height:inherit; border:none;}

}
@media screen and (max-width:640px){
.withd .details-container {padding: 20px 10px 0;}
.over{overflow-x:auto}

}


/*-----------------------Deposit Page---------------------------*/


.withdraw-instruction {color: #777;}
.withdraw-instruction .split {margin: 15px 0;}
.withdraw-instruction .col-sm-2 {text-align: center;}
.withdraw-instruction .steps {display: inline-block; margin: 0; width: 50px; height: 50px;  border: 1px solid #DDD; border-radius: 50%; color: #E0E4E7; font-size: 32px; font-weight: normal; line-height: 50px; text-align: center;}
.withdraw-instruction p {color: #777; line-height: 1.6;}
.withdraw-instruction .qrcode-container {float: right; margin-left: 10px;}
.withdraw-instruction .img-thumbnail{background-color:#f5f5f5;}
.input-group-addon {padding: 6px 12px; font-size: 14px; font-weight: normal; line-height: 1; color: #555555; text-align: center; background-color: #eeeeee; border: 1px solid #ccc;  border-radius: 4px;}

@media screen and (max-width:767px){
.withdraw-instruction .col-sm-2{margin-bottom:10px;}

}
@media screen and (max-width:400px){
.withdraw-instruction .qrcode-container {width: 100%; margin-bottom:10px; margin-left:0;}

}


/*-----------------------Home Page---------------------------*/


body.front{margin:0;font-family: 'Quicksand', sans-serif; background-color:#fff;}
.front .navbar{margin:0; background-color:#fff;}
.front .navbar-brand{display:block;}
.front .navbar-brand img{max-width:80px;}

.front .navbar-nav li {margin:0 5px;}
.front .navbar-nav {margin: 50px 0 20px;}
.front .navbar-nav .btn {border-color: #15a0ff;color: #fff; font-size: 13px; min-width: 150px; padding: 8px 20px;  text-transform:uppercase; font-weight:500;}
.front .navbar-nav .btn-primary {background-color: #15a0ff;}
.front .navbar-nav .btn-primary:hover, .front .navbar-nav .btn-primary:focus {background-color: #fff; color:#15a0ff;}
.front .navbar-nav .btn-default {color:#15a0ff;}
.front .navbar-nav .btn-default:hover, .front .navbar-nav .btn-default:focus {color:#fff; background-color: #15a0ff;}

.topbanner {background-attachment: fixed; background-image: url("../assets/888108.png"); background-position: center center; background-size: cover; padding: 110px 0; position:relative; float:left;width:100%;}
.topbanner:before{content:"";background-color:rgba(0,0,0,0.5); position:absolute; top:0;left:0;height:100%;width:100%;}
.topbanner h2{color:#fff; font-size:40px;}
.topbanner h1{color:#189EFF; font-size:50px; margin-bottom:20px;}
.topbanner p{color:#99A0A6; font-size:16px; line-height:1.5; margin-bottom:30px;}
.topbanner .btn {border-color: #15a0ff;color: #fff; font-size: 13px; max-width: 130px; padding: 8px 20px; width: 100%; text-transform:uppercase; font-weight:500; display:inline-block; margin:0 10px;}
.topbanner .btn-primary {background-color: #15a0ff;}
.topbanner .btn-primary:hover, .topbanner .btn-primary:focus {background-color: #fff; color:#15a0ff;}
.topbanner .btn-default {color:#fff; background-color:transparent;}
.topbanner .btn-default:hover, .topbanner .btn-default:focus {color:#fff; background-color: #15a0ff;}

.pricechart{background-color:#0F1221; float:left; width:100%;}
.pricechart li{width:14.28%; float:left;padding:20px 5px; text-align:center; border-right:1px solid #181E36; color:#A4A4A4;}
.pricechart li:last-child{border:none;}
.pricechart li h5 {margin-bottom: 10px; font-size:13px;}
.pricechart li h5 i{color:#81D60B;}
.pricechart li h4 {font-size:20px;}

.abou{background-color:#FFFFFF;padding:80px 0;float:left; width:100%;}
.abou li{width:25%; float:left; padding:13px; text-align:center;}
.abou li div {background-color: #ebf8ff; border-radius: 5px; box-shadow: 0 2px 4px 1px #f5f5f5; padding: 30px 20px;}
.abou li img {max-width:80px; margin:0 auto 15px;}
.abou li h4 {text-transform:uppercase; color:#394249; font-weight:700; margin-bottom:10px; font-size:17px;}
.abou li p {color:#596269;font-weight:300; font-size:16px;line-height:1.4; margin-bottom:5px;}

.invoice {background-color: #f8f8f8; float: left; padding: 80px 0; width: 100%;}
.invoicedata{float:left; width:100%;padding:15px 50px; text-align:left;}
.invoicedata h1 {color: #393e44; font-size: 43px; font-weight: 700; line-height: 1.2; margin-bottom: 20px;}
.invoicedata p {color: #596269; font-size: 16px; font-weight: 500; line-height: 1.5; margin-bottom: 15px;}
.invoicedata .btn {border-color: #15a0ff;color: #fff; font-size: 13px; max-width: 130px; padding: 10px 20px; width: 100%; text-transform:uppercase; font-weight:500; display:inline-block; margin:10px 0;background-color: #15a0ff;}
.invoicedata .btn-primary:hover, .invoicedata .btn-primary:focus {background-color: #fff; color:#15a0ff;}

.calculator{background-attachment: fixed; background-image: url("../assets/888108.png"); background-position: center center; background-size: cover; padding: 70px 0; position:relative; float:left;width:100%;}
.calculator:before{content:"";background-color:rgba(0,0,0,0.5); position:absolute; top:0;left:0;height:100%;width:100%;}
.calcleft{float:left;width:100%; padding-right:30px;}
.calcleft h1{color:#fff; font-weight:700; font-size:40px ;line-height:1.3;margin-bottom:20px;}
.calcleft p{color:#938896; line-height:1.3; font-size:15px; font-weight:400;}
.calcright{float:right;width:90%;}
.calcright .form-group {position: relative;}
.calcright .form-group .form-control {color: #151515; font-size: 18px; font-weight: 700; height: auto; padding: 9px 108px 9px 12px;}
.calcright .form-group span {border-left: 1px solid #999; font-size: 17px; font-weight: 700; padding: 14px 35px; position: absolute; right: 0; top: 0;}
.calcright .form-group select {font-size: 17px; font-weight: 700; padding: 11px 10px; position: absolute; right: 0; top: 0; -moz-appearance:none; -webkit-appearance:none; background-color:transparent;border:none; border-left: 1px solid #999; width:100%; max-width:100px; text-align:center; background-image: url("../assets/angle-down.png"); background-position: right center; background-repeat: no-repeat; background-size: 12px 12px; margin-right:5px;}
.calcright .btn {border-color: #15a0ff;color: #fff; font-size: 13px; max-width: 130px; padding: 10px 20px; width: 100%; text-transform:uppercase; font-weight:500; display:inline-block; margin:10px 0;background-color: #15a0ff;}
.calcright .btn-primary:hover, .calcright .btn-primary:focus {background-color: #fff; color:#15a0ff;}

.whywe{background-color: #fff; float: left; padding: 70px 0; width: 100%;}
.whytitle{width:100%;text-align:center; max-width:550px; display:inline-block; margin:0 auto;}
.whytitle h1 {color: #393e44; font-size: 40px; font-weight: 700; line-height: 1.2; margin-bottom: 20px; text-transform:uppercase;}
.whytitle p {color: #596269; font-size: 15px; font-weight: 500; line-height: 1.5; margin-bottom: 15px;}

.whysec{max-width:250px; text-align:center; display:inline-block;width:100%;margin:15px auto;}
.whysec img{max-width:40px; margin:10px auto;}
.whysec h1{color:#3D414A; font-weight:700;font-size:20px; margin-bottom:15px;}
.whysec p{color:#A1A1A1; font-weight:500; font-size:14px; margin-bottom:10px; line-height:1.5;}
.whyimg{margin:40px auto 10px; width:100%; max-width:270px;}

.getstart {background-color: #15a0ff; float: left; padding: 40px 0; width: 100%;}
.getstart h3 {color: #fff; float: left;line-height:1.3;}
.getstart a {border: 2px solid #fff; border-radius: 3px; color: #fff; float: right; font-size: 13px; font-weight: 500; padding: 9px 20px; text-transform: uppercase;}

.copyright {border-top: 1px solid #ddd;  float: left; padding: 20px 0; width: 100%;}
.copyright p {color: #8e90a5; float: left; line-height: 1.2; margin-bottom: 0; font-size:13px;}
.copyright ul {float: right;}
.copyright ul li {display: inline-block;}
.copyright ul li a {color: #8e90a5; padding: 0 10px; position: relative; font-size:13px;}
.copyright ul li a:after {content: " | "; position: absolute; right: 0; top: 1px;}
.copyright ul li:last-child a:after {content: "";}

@media screen and (min-width:991px) and (max-width:1199px){
.invoicedata h1 {font-size: 38px;}
.calcleft h1 {font-size: 34px;}

}
@media screen and (min-width:768px) and (max-width:991px){
.calcright {width: 100%;}
.getstart h3 {font-size: 21px;}

}
@media screen and (max-width:767px){
.navbar-toggle {margin-top: 50px;}
.front .navbar-nav{margin:20px 0;}
.front .navbar-nav li{margin:10px 0;}
.pricechart li h5 {font-size: 11px;}
.pricechart li h4 {font-size: 13px;}
.abou li{width:50%;}
.calcright {width: 100%;}
.getstart h3 {text-align: center; margin-bottom: 20px; width:100%; float:none;}
.getstart a {display: block; float: none; margin: 0 auto; max-width: 180px; text-align: center;}

}
@media screen and (max-width:640px){
.pricechart li {border-right: none; width: 100%;}
.pricechart li h5 {font-size: 12px;}
.pricechart li h4 {font-size: 15px;}
.abou li{width:100%;}
.invoicedata{padding:15px 20px;}
.invoicedata h1 {font-size: 34px;}
.whyimg{display:none;}
.copyright p{text-align:center;margin-bottom:10px; width:100%;}
.copyright ul {width: 100%; text-align:center;}

}
@media screen and (max-width:480px){
.topbanner{padding:80px 0;}
.topbanner h2 {font-size: 33px;}
.topbanner h1 {font-size: 36px;}
.topbanner .btn {margin: 10px;}
.invoicedata h1 {font-size: 22px;}
.calcleft h1 {font-size: 25px;}
.whytitle h1 {font-size: 30px;}
.copyright ul li {width: 100%; margin: 5px 0;}
.copyright ul li a:after{content:"";}

}


/*-----------------------Markets Page---------------------------*/


.marktable {margin:10px 10px 80px;}
.marktable .table th, .marktable .table th a{color:#5B5565; font-size:17px; font-weight:600;}
.marktable .table td{color:#B7B5C0; font-weight:600; padding:10pxpx 6px; vertical-align:middle; border-bottom: 1px solid #ddd;}
.marktable .media-object {max-width: 40px;}
.marktable .media-body p {color: #ccc; font-size: 13px; font-weight: 600; line-height: 1.2; margin-bottom: 0;}
.marktable .media-body h4 {color: #676d83; font-weight: 600; margin-top: 4px; font-size:16px;}
.marktable .table p {color: #554d62; font-weight: 600; margin: 0;}
.marktable .chan{font-weight:600;font-size:14px;}
.marktable .up{color:#36BF3B;}
.marktable .down{color:#DE1E18;}

#marketchart{height:380px;}
.highcharts-contextbutton{display:none;}

.summo .nav-tabs{margin-bottom:5px;}
.summo .nav-tabs > li.active > a, .summo .nav-tabs > li.active > a:hover, .summo .nav-tabs > li.active > a:focus {border-bottom: 2px solid #009bf5; border-width:0 0 2px;}
.summo .nav-tabs > li > a {border: medium none; border-radius: 0; color: #505366; font-size: 16px; padding: 12px 15px;}
.summo .nav-tabs > li > a:hover {border-bottom: 2px solid #009bf5; background-color:transparent;color:#666;}
.summry p {background-color: #fef9e6; color: #000; display: inline-block; margin: 62px 0;}
.summryco{border-top:1px solid #eee; padding:30px 10px; display:inline-block; width:100%;}
.summryco h3 {color: #009bf5; margin: 20px 0 40px;}
.summryco h4 {color: #555464; float: left; font-weight: 600; width: 50%; margin-bottom:10px;}
.summryco h4 span{color: #009bf5;}
.summ_table{padding:10px;}

.btcetn .nav-tabs{margin-bottom:5px;}
.btcetn .nav-tabs > li.active > a, .btcetn .nav-tabs > li.active > a:hover, .btcetn .nav-tabs > li.active > a:focus {border-bottom: 2px solid #009bf5; border-width:0 0 2px;}
.btcetn .nav-tabs > li > a {border:none;color:#666; border-radius:0; font-size: 16px; padding: 12px 15px;}
.btcetn .nav-tabs > li > a:hover {border-bottom: 2px solid #009bf5; background-color:transparent;color:#666;}

.btcetn {display: inline-block; width: 100%;}
.btcetndiv{display: inline-block; width: 100%; text-align:center;}
.btcetn .tab-content {padding: 10px 20px;}
.btcinput {border-bottom: 1px solid #eee; display: inline-block; padding: 15px 0; width: 100%;}
.btcinput span {float: left; font-weight: 600; padding: 10px 5px; width: 15%;}
.btcinput .form-control {float: left; border-radius: 0; width: 70%;}
.btcetndiv a {background-color: #009bf5; border-radius: 5px; color: #fff; display: inline-block; font-weight: 600; margin: 15px auto 10px; padding: 10px 20px;}


@media screen and (min-width:992px) and (max-width:1199px){
.marktable .table th, .marktable .table th a {font-size: 15px;}
.marktable .media-body h4 {font-size: 15px;}
.marktable .chan {font-size: 13px;}
.marktable .table p {font-size:14px;}
#marketchart{height:355px;}

}
@media screen and (max-width:991px){
.marktable {margin: 10px;}
.marktable .table th, .marktable .table th a {font-size: 14px;}
.marktable .chan {font-size: 14px;}
.marktable .media-object {max-width: 30px;}
.btcetn .tab-content > .tab-pane {overflow-y: auto;}

}
@media screen and (max-width:640px){
.marktable {margin: 10px 0; overflow-x: scroll;}
.marktable .media-body h4 {font-size: 13px;}
.marktable .table td {padding: 5px 10px;}

}
@media screen and (max-width:480px){
.marktable .table {max-width: 450px; width: 100%;}
#marketchart{height:330px;}
.summo .nav-tabs > li {text-align: center; width: 100%;margin-bottom:0;}
.summo .nav-tabs > li > a {border: 1px solid transparent; border-bottom:1px solid #ddd;margin:0;}
.summo .nav-tabs > li.active > a, .summo .nav-tabs > li.active > a:hover, .summo .nav-tabs > li.active > a:focus{border-width:0 0 1px;}
.summo .nav-tabs > li > a:hover {border-bottom: 1px solid #009bf5;}
.btcetn .nav-tabs > li {text-align: center; width: 100%;}
.btcetn .nav-tabs > li > a {border: 1px solid transparent;}
.btcetn .nav-tabs > li.active > a, .btcetn .nav-tabs > li.active > a:hover, .btcetn .nav-tabs > li.active > a:focus{border-width:0 0 1px;}
.btcetn .nav-tabs > li > a:hover {border-bottom: 1px solid #009bf5;}
.btcinput span {width: 25%;}
.btcinput .form-control{width: 50%;}

}


/*-----------------------Solvency Page---------------------------*/


.solvency{display: inline-block; padding: 30px 20px; width: 100%;}
.solveover .tab-pane{overflow-X:none;}
.solveover .tab-pane td {word-break: break-all;}
.solveover .nav-tabs > li > a {font-size: 12px;}
.aler {margin-bottom:10px;}
.aler .alert{display:none; margin-top:10px; line-height: 1.3;}
.aler .btn {background-color: #009bf5; color: #fff; font-weight: 600;}
.aler .btn:hover, .aler .btn:focus, .aler .btn.focus {border-color: #009bf5;}
.solveover .nav-tabs > li > a.active{border-bottom: 2px solid #009bf5;}