<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/favicon.ico" rel="shortcut icon" />

    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <% stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : 'application' %>
    <%= stylesheet_link_tag stylesheet, media: 'all' %>
    <%= custom_stylesheet_link_tag_for :main %>

    <%= include_gon %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'application' %>

    <%= yield(:scripts) if content_for?(:scripts) %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,300i,700,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../assets/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../assets/custom.css" rel="stylesheet" type="text/css">
  </head>

  <body class="ui-radius" data-lang="<%= locale_name %>" id="<%= body_id %>">

    <div id="wrapper">
      <%= content_for?(:header) ? yield(:header) : render('shared/header_profile_setting') %>
      <%= content_for?(:frame) ? yield(:frame) : render('shared/frame') %>
      <div id="push"></div>
      <%= content_for?(:footer) ? yield(:footer) : render('shared/footer') %>
    </div>

  </body>
</html>
