<!DOCTYPE html>
<html lang="en" ng-app="funds">
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <link href="/favicon.ico" rel="shortcut icon" />
    <% stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : 'application' %>
    <%= stylesheet_link_tag stylesheet, media: 'all' %>
    <%= custom_stylesheet_link_tag_for :main %>

    <%= include_gon %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'funds' %>
    <%= yield(:scripts) if content_for?(:scripts) %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,300i,700,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../assets/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../assets/custom.css" rel="stylesheet" type="text/css">
  </head>

  <body id="<%= body_id %>" data-lang="<%= "#{locale_name}" %>">

    <div id="wrapper">
      <%- if content_for?(:header) %>
        <%= yield(:header) %>
      <%- else %>
        <%= render 'shared/header_profile_setting' %>
      <%- end %>

      <div class='container-fluid'>
        <%= yield %>
      </div>
      <div id="push"></div>
      <%- if content_for?(:footer) %>
        <%= yield(:footer) %>
      <%- else %>
        <%= render 'shared/footer' %>
      <%- end %>
    </div>

  </body>
</html>

