<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/favicon.ico" rel="shortcut icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= custom_stylesheet_link_tag_for :main %>

    <%= include_gon %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,300i,700,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../assets/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../assets/custom.css" rel="stylesheet" type="text/css">
  </head>

  <body id="<%= body_id %>" data-lang="<%= locale_name %>" class="front">
    <div id="wrap">
      <%= render 'shared/header' %>
      <%= yield %>
      <div id="push"></div>
      <%= render 'shared/footer' %>
    </div>
    
  </body>
</html>
